<div fxLayout="column" class="main-welcome">
  <div fxFlex>
    <h1 class="title">
      Welcome to Nodebucket <br />
      <span class="subtitle">
        Create a list of tasks and simply drag them to the Done column as they are completed
      </span>
    </h1>
  </div>

  <br />

  <div fxFlex fxLayout="row" fxLayoutGap="15px" class="task-container">
    <div class="todo" fxFlex fxLayout="column">
      <mat-card class="task-col mat-elevation-z1">
        <mat-card-title class="column-title">
          Todo
        </mat-card-title>
        <mat-card-content>

          <mat-card class="mat-elevation-z0 add-task-btn" (click)="openCreateTaskDialog()">
            <mat-card-content>
              <div fxLayout="row">
                <div fxFlex>
                  Add new Task
                  <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <div
            fxLayout="column"
            fxLayoutGap="10px"
            class="task-list"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            (cdkDropListDropped)="drop($event)"
          >
            <div *ngFor="let item of todo" cdkDrag>
              <mat-card class="mat-elevation-z3 task-card">
                <mat-card-content>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex>
                      {{ item.text }}
                    </div>

                    <div fxFlex fxLayoutAlign="end">
                      <button [matMenuTriggerFor]="todoOptions" class="task-options-menu" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                      </button>

                      <mat-menu #todoOptions="matMenu" x-position="before">
                        <div class="confirm-actions">
                          <h5>Are you sure you want to delete this task?</h5>
                          <div>
                            <button mat-menu-item class="cancel">
                              Cancel
                            </button>
                            <button (click)="deleteTask(item._id)" mat-menu-item class="continue">
                              Continue
                            </button>
                          </div>
                        </div>
                      </mat-menu>
                    </div>

                  </div>
                </mat-card-content>
              </mat-card>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="Done" fxFlex>
      <mat-card class="task-col mat-elevation-z1">
        <mat-card-title class="column-title done">
          Done
        </mat-card-title>
        <mat-card-content>
          <div
            fxLayout="column"
            fxLayoutGap="10px"
            class="task-list"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            (cdkDropListDropped)="drop($event)"
          >
            <div *ngFor="let item of done" cdkDrag>
              <mat-card class="mat-elevation-z3 task-card">
                <mat-card-content>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex>
                      {{ item.text }}
                    </div>

                    <div fxFlex fxLayoutAlign="end">
                      <button [matMenuTriggerFor]="doneOptions" class="task-options-menu" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                      </button>

                      <mat-menu #doneOptions="matMenu" x-position="before">
                        <div class="confirm-actions">
                          <h5>Are you sure you want to delete this task?</h5>
                          <div>
                            <button mat-menu-item class="cancel">
                              Cancel
                            </button>
                            <button (click)="deleteTask(item._id)" mat-menu-item class="continue">
                              Continue
                            </button>
                          </div>
                        </div>
                      </mat-menu>
                    </div>

                  </div>
                </mat-card-content>
              </mat-card>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
