.signin-container {
  width: 45%;
  margin: 15% auto;
  max-width: 415px;
}

.signin-container .mat-card-title {
  padding: 2rem;
  background-color: #27A0F2;
  color: #fff;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem!important;
  font-weight: 300;
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-align: center;
}

.signin-container mat-card-subtitle:not(:first-child) {
  text-align: center;
  margin-bottom: .5rem;
  margin-top: 1.5rem;
}

.signin-container .mat-card-content {
  margin-bottom: 0;
}

.signin-container .mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

.signin-container .mat-raised-button {
  padding: .65rem 1rem;
}

.signin-container .mat-raised-button:not(.mat-button-disabled) {
  color: #fff;
}
.mat-raised-button.mat-primary:not(.mat-button-disabled) {
  background-color: #27A0F2;
}

.msg-container {
  padding: 0 16px;
}

.msg-error {
  margin: 0px;
  padding: 12px;
  color: #D8000C;
  background-color: #FFD2D2;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .signin-container {
    width: 95%;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .signin-container {
    width: 65%;
  }
}
