<div fxLayout="column">

  <mat-card fxFlex class="mat-elevation-z8 signin-container">
    <mat-card-title>NodeBucket</mat-card-title>
    <mat-card-subtitle>Please enter your Employee ID to login</mat-card-subtitle>

    <mat-card-content>
      <div class="msg-container" *ngIf="error">
        <div class="msg-error">
          {{ error }}
        </div>
      </div>

      <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">

        <form [formGroup]="form" (ngSubmit)="login();">
          <mat-card-content>

              <mat-form-field fxFlex appearance="fill">
                <mat-label for="txtStudentId" id="lblStudentId">Employee ID</mat-label>
                <input
                  id="txtEmpId"
                  name="txtEmpId"
                  type="text"
                  required
                  matInput
                  [formControl]="form.controls['empId']"
                />

                <!-- validation messages -->
                <mat-error *ngIf="form.controls['empId'].hasError('required') && form.controls['empId'].touched">
                  Employee ID is a required field
                </mat-error>
                <mat-error *ngIf="form.controls['empId'].hasError('pattern') && form.controls['empId'].touched">
                  Employee ID is a required field
                </mat-error>

              </mat-form-field>
          </mat-card-content>

          <mat-card-actions>
            <button type="submit" fxFlex mat-raised-button color="primary" [disabled]="!form.valid">Enter NodeBucket</button>
          </mat-card-actions>
        </form>
      </mat-card>

    </mat-card-content>
  </mat-card>

</div>
