.logo {
    margin-left: 75px;
    width: 65px;
    height: auto;
  }

  .navbar-container {
    padding: 1rem;
  }

  .navbar-link {
    font-size: 24px;
    font-weight: lighter;
  }

  .main-content {
    padding-left: 30px;
  }

  .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .footer-content {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: center;
  }

  .bu-link {
    text-decoration: none;
  }

  .bu-link:hover {
    text-decoration: underline;
  }
