<div fxLayout="column">

    <!-- navigation -->
    <mat-toolbar class="toolbar bg-blue text-white">
      <mat-toolbar-row class="navbar-container">
        <div class="logo">
          <img src="../../../assets/logo-01.svg" alt="Nodebucket - Task Management System" routerLink="/"/>
        </div>
        <div style="width: 80%">
          <div fxLayout="row wrap" fxLayoutAlign="end start">
            <button class="navbar-link" mat-button routerLink="/about">About Us</button>
            <button class="navbar-link" mat-button routerLink="/book-list" (click)="signOut()">Sign Out</button>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- main content -->
    <div fxFlex>
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>

    <!-- footer -->
    <div fxFlex fxLayoutAlign="center center">
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p class="text-center" style="width: 100%;">
            &copy;{{year | date: 'yyyy'}} - nodebucket Task Solutions
          </p>
        </mat-toolbar>
      </footer>
    </div>

  </div>
